$dark-brown:   #534741;
$light-brown:  #C2B59B;
$lighter-brown:#CEB1A6;
$orange:       #FBAF41;
$dark:         #444444;
$light:        #999999;
$blue:         #2DB6CF;
$green:        #46b98a;
$white:        #FFFFFF;
$dark-blue:    #262261;
$light-blue:   #BDCAD2;
$cyan:         #3ABEEF;
$red:          #ff0000;
$light-gray:   #F8F8FF;
$dark-orange:  #F7931D;
$light-red:    #E0A2A8;
$dark-red:     #BE1E2D;

/* Profile Section */
#profile-wrapper {
  float: left;
  margin-left:50px;
  width: 50%;
  height: auto;
  text-align:left;
}

.profile-header {
  margin-top: 30px;
  color: $orange;
  font-size: 16px;
  font-weight:bold;
}

.profile-content {
  color: $dark-brown;
  font-size: 28px;
  font-weight:normal;
}

.profile-box-wrapper {
  float:left;
  width: 42%;
  height: auto;
}

.profile-box-container {
  background-color : $light-brown;
  border : 0px;
  height : auto;
  width : 350px;
  margin: 20px 0;
  float: right;
  padding: 30px 30px;
}

.profile-box-form {
  text-align: left;
  font-size: 18px;
  color: $dark-brown;
}

.profile-box-form h2{
  text-align: center;
  font-size: 24px;
  color: $dark-brown;
}

/* Transaction Section (Top-Up and Transfer) */
#transaction-box-wrapper {
  float:left;
  width: 25%;
  height : auto;
  border : 0px;
  margin-left: 50px;
  padding: 30px 30px;
}

#transaction-form-wrapper {
  text-align: left;
  font-size: 18px;
  color: $dark-brown;
}

.transaction-box-info {
  background-color : $light-brown;
  border : 0px;
  height : auto;
  width : 350px;
  margin: 30px 60px;
  float: right;
  padding: 30px;
}

.transaction-box-info h2{
  text-align: center;
  font-size: 24px;
  margin-top: 0;
  color: $dark-brown;
}

.transaction-box-info p{
  text-align: justify;
  color: $dark-brown;
}

/* Increase Limit Section */
#increase-limit-form.container {
  height: auto;
  width: 400px;
  background: $light-brown;
  color: $dark-brown;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 65px;
  padding: 30px;
}

#increase-limit-form .eula-box {
  width: auto;
  height: 200px;
  overflow: auto;
  background: $white;
  text-align: left;
  padding: 10px;
}

#increase-limit-form .wrapper {
  margin: 10px;
  text-align: left;
  font-size: 17px;
  color: #534741;
}

#increase-limit-form .bottom-wrapper {
  height: auto;
  margin-top: 20px;
  padding: 7px;
}

#increase-limit-form h1 {
  font-size: 30px;
  font-weight: normal;
}

#increase-limit-form h2 {
  font-size: 18px;
  font-weight: normal;
}

#increase-limit-form h3 {
  font-size: 15px;
  margin: 10px 10px 10px -5px;
  text-align: center;
  font-weight: normal;
}

#increase-limit-form .next-button {
  text-align: center;
  margin-top: 20px;
}

#increase-limit-form .radio-style {
  text-align: left;
  margin: 5px 0px 10px 0px;
}

#uploaded-image {
  width: 400px;
  height: 200px;
  background: $white;
  margin-bottom: 20px;
}

/* Purchase Section */
.wrapper-dropdown {
  position: relative;
  width: 200px;
  margin: 0 10px;
  padding: 2px;
  background: #fff;
  border: 1px solid silver;
  cursor: pointer;
  outline: none;
}

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: $orange transparent;
}

.wrapper-dropdown .dropdown {
  position: absolute;
  top: 100%;
  margin-top: 1px;
  left: -1px;
  right: -1px;
  padding-left: 0;
  background: white;
  border: inherit;
  border-top: none;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li {
  position: relative;
}

.wrapper-dropdown .dropdown li label {
  display: block;
  padding: 5px;
  border-bottom: 1px dotted $light-brown;
  transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li:last-of-type label {
  border: none;
}

.wrapper-dropdown .dropdown li:hover label {
  background: #f0f0f0;
}

.wrapper-dropdown.active:after {
  border-width: 0 6px 6px 6px;
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

/* Transfer Section */
.transfer-box-info p{
  text-align: justify;
  color: $dark-brown;
}

/* Notification Style */
#notification.container {
  width: 550px;
  height: auto;
  padding: 25px;
  margin: 50px auto;
}

#notification .wrapper {
  background: $light-brown;
  width: 500px;
  height: auto;
  padding: 20px;
  font-size: 16px;
}

#notification h1 {
  font-size: 36px;
  color: $dark-brown;
  font-weight: normal;
  text-align: left;
}

#notification h2 {
  font-size: 22px;
  color: $dark-brown;
  font-weight: normal;
}

#notification p {
  color: $dark-brown;
  text-align: justify;
  margin: 0;
  padding: 0;
}

#notification a {
  color: $dark-brown;
}

/* Pop-Up Customer Style */
#pop-up-buy-product.pop-up {
  top: 26%;
  left: 32%; 
}

#pop-up-shopping-cart.pop-up {
  top: 26%;
  left: 23%; 
}

.pop-up.customer {
  background: $light-brown;
  color: $dark-brown;
  border-color: $dark-brown;
}

.pop-up.customer h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  padding: 0px 10px 10px 10px;
}

.pop-up.customer h2 {
  font-size: 25px;
  text-align: left;
  font-weight: normal;
  margin: 0px;
}

.pop-up.customer h3 {
  font-size: 17px;
  text-align: left;
  font-weight: normal;
  margin: 0px;
}

/* Customer Display Table Style */
.table {
  display: table;
  width: 100%;
}

.column {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 1px;
}

/* Set Width for Customer Pop Up */  
#pop-up-shopping-cart.pop-up.customer {
  width: 650px;
}

#pop-up-shopping-cart.pop-up.customer table{
  border-spacing: 0;
  width: 100%;
  height: 10px;
  text-align: left;
  padding: 6px;
}

#pop-up-shopping-cart .table-box-content {
  overflow: auto;
  background: $white;
}

#pop-up-shopping-cart.pop-up td {
  border-bottom: 1px solid #CCCCCC;
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
}

#pop-up-shopping-cart.pop-up th:nth-child(1),
#pop-up-shopping-cart.pop-up td:nth-child(1){
  width: 95px;
}
#pop-up-shopping-cart.pop-up th:nth-child(2),
#pop-up-shopping-cart.pop-up td:nth-child(2){
  width: 215px;
}
#pop-up-shopping-cart.pop-up th:nth-child(3),
#pop-up-shopping-cart.pop-up td:nth-child(3){
  width: 125px;
}
#pop-up-shopping-cart.pop-up th:nth-child(4),
#pop-up-shopping-cart.pop-up td:nth-child(4){
  width:80px;
}
#pop-up-shopping-cart.pop-up th:nth-child(5),
#pop-up-shopping-cart.pop-up td:nth-child(5){
  width: 125px;
}

#pop-up-shopping-cart.pop-up tr:last-child td{
  border-bottom: none;
}