$dark-brown:   #534741;
$light-brown:  #C2B59B;
$lighter-brown:#CEB1A6;
$orange:       #FBAF41;
$dark:         #444444;
$light:        #999999;
$blue:         #2DB6CF;
$green:        #46b98a;
$white:        #FFFFFF;

/* Header Style */
#welcome-customer {
  font-size: 18px;
  color: $orange;
  height: 60px;
  width: 23%;
  float: left;
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Content Style */
#subheader-wrapper {
  margin: 0;
  height: 80px;
  padding: 0 50px;
}

.subtitle {
  font-size: 40px;
  color: $dark-brown;
  text-align: left !important;
  float: left;
  line-height: 80px;
  width: 50%;
}

.balance {
  font-size: 15px;
  color: $dark-brown;
  float: left;
  text-align:right;
  height: 100%;
  width: 50%;
}

.currency {
  font-size: 30px;
  color: $orange;
}

#subcontent-wrapper {
  margin: 0;
  padding-bottom: 15px;
  display: inline-block;
  width: 100%;
}

#horizontal-line {
  float:left;
  margin-left:30px;
}

#subbuttons-wrapper {
  width: auto;
  min-height: 30px;
  padding: 0 50px;
  overflow: hidden;
}

/* Dashboard Section */
.dashboard-table {
  float: left;
  margin-top:20px;
  padding:0px;
  width:100%;
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
	
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;

  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
	
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}

.dashboard-table table{
  border:1px solid #000000;
  border-collapse: collapse;
  border-spacing: 0;
  width:90%;
  height:100%;
}

.dashboard-table tr:nth-child(odd){
  background-color:$lighter-brown;
}

.dashboard-table tr:nth-child(even){
  background-color:$white;
}

.dashboard-table td{
  vertical-align:middle;
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:14px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}

.dashboard-table tr:last-child td{
  border-width:0px 1px 0px 0px;
}

.dashboard-table tr td:last-child{
  border-width:0px 0px 1px 0px;
}

.dashboard-table tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}

.dashboard-table tr:first-child td{
  background:-o-linear-gradient(bottom, #534741 5%, #534741 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #534741), color-stop(1, #534741) );
  background:-moz-linear-gradient( center top, #534741 5%, #534741 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#534741", endColorstr="#534741");	background: -o-linear-gradient(top,#534741,534741);
  background-color:#534741;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}

.dashboard-table tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #534741 5%, #534741 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #534741), color-stop(1, #534741) );
  background:-moz-linear-gradient( center top, #534741 5%, #534741 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#534741", endColorstr="#534741");	background: -o-linear-gradient(top,#534741,534741);
  background-color:#534741;
}

.dashboard-table tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.dashboard-table tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

/* Profile Section */
#profile-wrapper {
  float: left;
  margin-left:50px;
  width: 50%;
  height: auto;
  text-align:left;
}

.profile-header {
  margin-top: 30px;
  color: $orange;
  font-size: 16px;
  font-weight:bold;
}

.profile-content {
  color: $dark-brown;
  font-size: 28px;
  font-weight:normal;
}

.profile-box-wrapper {
  float:left;
  width: 42%;
  height: auto;
}

.profile-box-container {
  background-color : $light-brown;
  border : 0px;
  height : auto;
  width : 350px;
  margin: 20px 0;
  float: right;
  padding: 30px 30px;
}

.profile-box-form {
  text-align: left;
  font-size: 18px;
  color: $dark-brown;
}

.profile-box-form h2{
  text-align: center;
  font-size: 24px;
  color: $dark-brown;
}

.profile-box-form p{
  text-align: justify;
  color: $dark-brown;
}