@font-face {
  font-family: "Century Gothic";
  src: url(/fonts/gothic.ttf) format("truetype");
  /* Html and Body Style */
}
html, body {
  margin: 0;
  padding: 0;
  min-width: 1024px;
  height: 100%;
  font-family: "Century Gothic";
}
#body-wrapper {
  min-height: 100%;
  position: relative;
  /* Header Style */
}
.header-customer {
  height: 60px;
  background: #534741;
}
.header-admin {
  height: 60px;
  background: #46b98a;
}
#logo-wrapper {
  height: 100%;
  width: 21%;
  float: left;
}
#logo-wrapper-admin {
  height: 100%;
  width: 100%;
  float: center;
}
.menu-wrapper {
  height: 100%;
  float: left;
}
.menu-wrapper#home {
  width: 53%;
}
.menu-wrapper#customer {
  width: 56%;
}
.menu-wrapper ul {
  list-style: none;
  font-size: 18px;
  padding-left: 0px;
}
.menu-wrapper li {
  display: inline;
  padding: 0 12px;
}
.menu-wrapper a {
  text-decoration: none;
  color: #c2b59b;
}
.menu-wrapper a:hover {
  color: #fbaf41;
}
#login-register-wrapper {
  height: 100%;
  width: 26%;
  float: left;
  /* Content Style */
}
#content {
  width: 100%;
  padding-bottom: 40px;
}
.footer-customer {
  background: #fbaf41;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-admin {
  background: #46b98a;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* Centered object inside div vertically */
}
.block {
  text-align: center;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.centered {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}
.centered-header {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}
.centered-header a {
  text-decoration: none;
  color: #c2b59b;
}
.centered-header a:hover {
  color: #fbaf41;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.centered-header li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0 12px;
}
.centered-header li ul li:hover {
  background: #534741;
  transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
}
.centered-header li ul {
  position: absolute;
  top: 60px;
  width: 125px;
  display: none;
  opacity: 0;
  padding: 0;
}
.centered-header li ul li {
  display: block;
  padding: 0 12px;
  line-height: 40px;
  vertical-align: middle;
}
.centered-header li ul li a {
  color: #534741;
  height: 40px;
}
.centered-header li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  background: #c2b59b;
  transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
}
.right {
  text-align: right;
  /* Button Style */
}
.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: none;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  text-align: center;
  width: 115px;
  height: 35px;
}
.button.orange {
  background: none repeat scroll 0 0 #fbaf41;
  color: #534741;
}
.button.orange:hover {
  background: none repeat scroll 0 0 #46b98a;
  color: #fff;
}
.button.darkbrown {
  background: none repeat scroll 0 0 #534741;
  color: #c2b59b;
}
.button.darkbrown.close-account {
  width: 165px;
  height: 35px;
  margin-top: 10px;
}
.button.darkbrown:hover {
  background: none repeat scroll 0 0 #2db6cf;
  color: #fff;
}
.button.lightbrown {
  background: none repeat scroll 0 0 #c2b59b;
  color: #534741;
}
.button.lightbrown:hover {
  background: none repeat scroll 0 0 #2db6cf;
  color: #fff;
}
.button.dashboard {
  width: 200px;
  margin: 0 90px;
}
.button.profile {
  width: 165px;
}
